In [1]:
import pandas as pd

df1 = pd.read_json("gpt_predictions/llama32_11B_osint_batch_2.json")
df2 = pd.read_json("gpt_predictions/internvl25_osint_batch_2.json")
df3 = pd.read_json("gpt_predictions/llava16_mistral_osint_batch_2.json")
df4 = pd.read_json("gpt_predictions/llava16_vicuna_osint_batch_2.json")
df5 = pd.read_json("gpt_predictions/idefics2_9B_osint_batch_2.json")

In [2]:
a = pd.merge(df1, df2, on = "image_id", how="inner")
a = a.drop(columns=["text_y", "subreddit_y"])
a.columns = ["image_id", "text", "subreddit", "llama32_11B", "intervl25_8B"]
a.shape

(9408, 5)

In [3]:
b = pd.merge(a, df3, on="image_id")
b = b.drop(columns=["text_y", "subreddit_y"])
b.columns = ["image_id", "text", "subreddit", "llama32_11B", "intervl25_8B", "Llava16_mistral_7B"]
b

,image_id,text,subreddit,llama32_11B,intervl25_8B,Llava16_mistral_7B
0,1m1m8fn,the latest tattoo of my youngest daughter.,pics,0,0,0
1,1m3jva4,- moon and auroras in the rockies,pics,0,0,0
2,1m37wj2,16 years alcohol free today! (link to my pos...,pics,0,0,0
3,1m30drj,a boat that's been stranded for over 5 years,pics,0,0,0
4,1m32uza,a mural in france shows the statue of liberty...,pics,0,0,0
...,...,...,...,...,...,...
9406,1j5shv4,yup it's her,madlads,1,1,1
9407,bx2qog,"yup, shit happens",madlads,1,1,1
9408,1gf1cq3,zeus hates this toilet,FUCKYOUINPARTICULAR,1,1,1
9409,1lcwfz9,zombie guitar,ATBGE,0,0,0
9410,1m39bgz,"zoomed right in, this unedited photo of my dog...",notinteresting,0,0,1

In [4]:
c = pd.merge(b, df4, on="image_id")
c = c.drop(columns=["text_y", "subreddit_y"])
c.columns = ["image_id", "text", "subreddit", "llama32_11B", "intervl25_8B", "llava16_mistral_7B", "llava16_vicuna_7B"]
c

,image_id,text,subreddit,llama32_11B,intervl25_8B,llava16_mistral_7B,llava16_vicuna_7B
0,1m1m8fn,the latest tattoo of my youngest daughter.,pics,0,0,0,0
1,1m3jva4,- moon and auroras in the rockies,pics,0,0,0,0
2,1m37wj2,16 years alcohol free today! (link to my pos...,pics,0,0,0,0
3,1m30drj,a boat that's been stranded for over 5 years,pics,0,0,0,0
4,1m32uza,a mural in france shows the statue of liberty...,pics,0,0,0,1
...,...,...,...,...,...,...,...
9406,1j5shv4,yup it's her,madlads,1,1,1,1
9407,bx2qog,"yup, shit happens",madlads,1,1,1,1
9408,1gf1cq3,zeus hates this toilet,FUCKYOUINPARTICULAR,1,1,1,1
9409,1lcwfz9,zombie guitar,ATBGE,0,0,0,1
9410,1m39bgz,"zoomed right in, this unedited photo of my dog...",notinteresting,0,0,1,0

In [5]:
d = pd.merge(c, df5, on="image_id")
d = d.drop(columns=["text_y", "subreddit_y"])
d.columns = ["image_id", "text", "subreddit", "llama32_11B", "intervl25_8B", "llava16_mistral_7B", "llava16_vicuna_7B", "idefics2_9B"]
d

,image_id,text,subreddit,llama32_11B,intervl25_8B,llava16_mistral_7B,llava16_vicuna_7B,idefics2_9B
0,1m1m8fn,the latest tattoo of my youngest daughter.,pics,0,0,0,0,0
1,1m3jva4,- moon and auroras in the rockies,pics,0,0,0,0,0
2,1m37wj2,16 years alcohol free today! (link to my pos...,pics,0,0,0,0,0
3,1m30drj,a boat that's been stranded for over 5 years,pics,0,0,0,0,0
4,1m32uza,a mural in france shows the statue of liberty...,pics,0,0,0,1,0
...,...,...,...,...,...,...,...,...
9406,1j5shv4,yup it's her,madlads,1,1,1,1,1
9407,bx2qog,"yup, shit happens",madlads,1,1,1,1,1
9408,1gf1cq3,zeus hates this toilet,FUCKYOUINPARTICULAR,1,1,1,1,0
9409,1lcwfz9,zombie guitar,ATBGE,0,0,0,1,0
9410,1m39bgz,"zoomed right in, this unedited photo of my dog...",notinteresting,0,0,1,0,0

In [6]:
d.head()

,image_id,text,subreddit,llama32_11B,intervl25_8B,llava16_mistral_7B,llava16_vicuna_7B,idefics2_9B
0,1m1m8fn,the latest tattoo of my youngest daughter.,pics,0,0,0,0,0
1,1m3jva4,- moon and auroras in the rockies,pics,0,0,0,0,0
2,1m37wj2,16 years alcohol free today! (link to my pos...,pics,0,0,0,0,0
3,1m30drj,a boat that's been stranded for over 5 years,pics,0,0,0,0,0
4,1m32uza,a mural in france shows the statue of liberty...,pics,0,0,0,1,0

In [7]:
d = d.drop_duplicates(subset="image_id", keep="first")

In [8]:
d.shape

(9408, 8)

In [9]:
d.to_csv("gpt_predictions/cosolidated.csv", index=False)