In [39]:
import pandas as pd

df1 = pd.read_json("gpt_predictions/llama32_11B_osint.json")
df2 = pd.read_json("gpt_predictions/internvl25_osint.json")
df3 = pd.read_json("gpt_predictions/llava16_mistral_osint.json")
df4 = pd.read_json("gpt_predictions/llava16_vicuna_osint.json")
df5 = pd.read_json("gpt_predictions/idefics2_9B_osint.json")

In [40]:
a = pd.merge(df1, df2, on = "image_id", how="inner")
a = a.drop(columns=["text_y", "subreddit_y"])
a.columns = ["image_id", "text", "subreddit", "llama32_11B", "intervl25_8B"]
a.shape

(17122, 5)

In [41]:
b = pd.merge(a, df3, on="image_id")
b = b.drop(columns=["text_y", "subreddit_y"])
b.columns = ["image_id", "text", "subreddit", "llama32_11B", "intervl25_8B", "Llava16_mistral_7B"]
b

,image_id,text,subreddit,llama32_11B,intervl25_8B,Llava16_mistral_7B
0,mcrghk,"oooh boy, wait untill this dude finds out abou...",rareinsults,1,1,1
1,ecnw9i,half the nation dies from mind explosion as tr...,PeopleFuckingDying,1,1,1
2,1c80lqp,the cream used after whipping the british,rareinsults,1,0,1
3,yfxge5,family,Damnthatsinteresting,0,0,1
4,1dphluk,got this $1 bill with charizard on it while wo...,mildlyinteresting,0,0,1
...,...,...,...,...,...,...
17122,nrdq3e,"""my mill cost a late night fee, your mill got ...",rareinsults,1,1,1
17123,1dn29yq,chocolate chip cookies with exactly one chocol...,mildlyinteresting,0,0,1
17124,c2a1dm,quality,qualityrareinsults,1,1,1
17125,ud8vgz,my local pizzeria has a list of addresses that...,mildlyinteresting,1,1,1
17126,esklu3,i carved this celtic hunting dog on the roads ...,Damnthatsinteresting,0,1,1

In [42]:
c = pd.merge(b, df4, on="image_id")
c = c.drop(columns=["text_y", "subreddit_y"])
c.columns = ["image_id", "text", "subreddit", "llama32_11B", "intervl25_8B", "llava16_mistral_7B", "llava16_vicuna_7B"]
c

,image_id,text,subreddit,llama32_11B,intervl25_8B,llava16_mistral_7B,llava16_vicuna_7B
0,mcrghk,"oooh boy, wait untill this dude finds out abou...",rareinsults,1,1,1,1
1,ecnw9i,half the nation dies from mind explosion as tr...,PeopleFuckingDying,1,1,1,1
2,1c80lqp,the cream used after whipping the british,rareinsults,1,0,1,0
3,yfxge5,family,Damnthatsinteresting,0,0,1,0
4,1dphluk,got this $1 bill with charizard on it while wo...,mildlyinteresting,0,0,1,0
...,...,...,...,...,...,...,...
17126,nrdq3e,"""my mill cost a late night fee, your mill got ...",rareinsults,1,1,1,1
17127,1dn29yq,chocolate chip cookies with exactly one chocol...,mildlyinteresting,0,0,1,0
17128,c2a1dm,quality,qualityrareinsults,1,1,1,1
17129,ud8vgz,my local pizzeria has a list of addresses that...,mildlyinteresting,1,1,1,0
17130,esklu3,i carved this celtic hunting dog on the roads ...,Damnthatsinteresting,0,1,1,0

In [43]:
d = pd.merge(c, df5, on="image_id")
d = d.drop(columns=["text_y", "subreddit_y"])
d.columns = ["image_id", "text", "subreddit", "llama32_11B", "intervl25_8B", "llava16_mistral_7B", "llava16_vicuna_7B", "idefics2_9B"]
d

,image_id,text,subreddit,llama32_11B,intervl25_8B,llava16_mistral_7B,llava16_vicuna_7B,idefics2_9B
0,mcrghk,"oooh boy, wait untill this dude finds out abou...",rareinsults,1,1,1,1,1
1,ecnw9i,half the nation dies from mind explosion as tr...,PeopleFuckingDying,1,1,1,1,0
2,1c80lqp,the cream used after whipping the british,rareinsults,1,0,1,0,1
3,yfxge5,family,Damnthatsinteresting,0,0,1,0,0
4,1dphluk,got this $1 bill with charizard on it while wo...,mildlyinteresting,0,0,1,0,0
...,...,...,...,...,...,...,...,...
17127,nrdq3e,"""my mill cost a late night fee, your mill got ...",rareinsults,1,1,1,1,1
17128,1dn29yq,chocolate chip cookies with exactly one chocol...,mildlyinteresting,0,0,1,0,0
17129,c2a1dm,quality,qualityrareinsults,1,1,1,1,0
17130,ud8vgz,my local pizzeria has a list of addresses that...,mildlyinteresting,1,1,1,0,1
17131,esklu3,i carved this celtic hunting dog on the roads ...,Damnthatsinteresting,0,1,1,0,0

In [53]:
d.head()

,image_id,text,subreddit,llama32_11B,intervl25_8B,llava16_mistral_7B,llava16_vicuna_7B,idefics2_9B
0,mcrghk,"oooh boy, wait untill this dude finds out abou...",rareinsults,1,1,1,1,1
1,ecnw9i,half the nation dies from mind explosion as tr...,PeopleFuckingDying,1,1,1,1,0
2,1c80lqp,the cream used after whipping the british,rareinsults,1,0,1,0,1
3,yfxge5,family,Damnthatsinteresting,0,0,1,0,0
4,1dphluk,got this $1 bill with charizard on it while wo...,mildlyinteresting,0,0,1,0,0

In [54]:
d = d.drop_duplicates(subset="image_id", keep="first")

In [55]:
d.shape

(17118, 8)

In [58]:
d.to_csv("gpt_predictions/cosolidated.csv", index=False)
d.to_json("gpt_predictions/cosolidated.json", orient="records", indent=2)